<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://getyourown

'Connected: ghn29546@BLUDB'

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [11]:
#set up check dfs with pandas
import pandas as pd
crime = %sql select * from CHICAGO_CRIME_DATA
crime_df = crime.DataFrame()
census = %sql select * from CENSUS_DATA
census_df = census.DataFrame()
schools = %sql select * from CHICAGO_PUBLIC_SCHOOLS
schools_df = schools.DataFrame()

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

In [12]:
crime_df.shape,schools_df.shape,census_df.shape

((533, 22), (566, 78), (78, 9))

In [4]:
# Rows in Crime table
%sql select COUNT(*) as No_Crimes from CHICAGO_CRIME_DATA;

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [13]:
%sql select * from CHICAGO_CRIME_DATA limit 10

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', datetime.datetime(2004, 8, 28, 17, 50, 56), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '02/10/2018 03:50:01 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.datetime(2004, 6, 26, 12, 40), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '02/28/2018 03:56:25 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.datetime(2011, 4, 4, 5, 45), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '02/10/2018 03:50:01 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.datetime(2010, 12, 30, 16, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '02/10/2018 03:50:01 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.datetime(2016, 2, 2, 19, 30), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '02/10/2018 03:50:01 PM', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', datetime.datetime(2010, 9, 29, 7, 59), '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '02/10/2018 03:50:01 PM', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', datetime.datetime(2016, 11, 30, 1, 15), '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', datetime.datetime(2005, 12, 16, 16, 45), '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '02/28/2018 03:56:25 PM', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', datetime.datetime(2005, 1, 28, 17, 0), '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '02/28/2018 03:56:25 PM', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', datetime.datetime(2004, 5, 13, 14, 15), '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '02/28/2018 03:56:25 PM', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

In [15]:
crime_df.head(10)

,id,case_number,DATE,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area_number,fbicode,x_coordinate,y_coordinate,YEAR,updatedon,latitude,longitude,location
0,3512276,HK587712,2004-08-28 17:50:56,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,FALSE,FALSE,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.80744050,-87.70395585,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26 12:40:00,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,FALSE,FALSE,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.89827996,-87.71640551,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04 05:45:00,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,FALSE,FALSE,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.81593313,-87.62464213,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30 16:30:00,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,FALSE,FALSE,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.74366532,-87.56246276,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02 19:30:00,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,FALSE,FALSE,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.77345530,-87.70648047,"(41.773455295, -87.706480471)"
5,7732712,HS540106,2010-09-29 07:59:00,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT/GARAGE(NON.RESID.),FALSE,FALSE,...,27.0,24.0,6,1171668.0,1905607.0,2010,02/10/2018 03:50:01 PM,41.89644677,-87.64493868,"(41.896446772, -87.644938678)"
6,10769475,HZ534771,2016-11-30 01:15:00,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,33.0,14.0,6,1154133.0,1933314.0,2016,02/10/2018 03:50:01 PM,41.97284491,-87.70860008,"(41.972844913, -87.708600079)"
7,4494340,HL793243,2005-12-16 16:45:00,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,TRUE,FALSE,...,3.0,38.0,6,1180448.0,1879234.0,2005,02/28/2018 03:56:25 PM,41.82387989,-87.61350386,"(41.823879885, -87.613503857)"
8,3778925,HL149610,2005-01-28 17:00:00,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,19.0,72.0,6,1160129.0,1838040.0,2005,02/28/2018 03:56:25 PM,41.71128051,-87.68917910,"(41.711280513, -87.689179097)"
9,3324217,HK361551,2004-05-13 14:15:00,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,FALSE,FALSE,...,35.0,21.0,6,1153590.0,1921084.0,2004,02/28/2018 03:56:25 PM,41.93929582,-87.71092344,"(41.939295821, -87.710923442)"

### Problem 3

##### How many crimes involve an arrest?

In [16]:
%sql select COUNT(*) from CHICAGO_CRIME_DATA where arrest = TRUE

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

In [19]:
crime_df[crime_df['arrest']=='TRUE'].shape[0]

163

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [20]:
%sql select distinct(primary_type) from chicago_crime_data where location_description like 'GAS STATION'

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

In [21]:
crime_df[crime_df['location_description']=='GAS STATION']['primary_type'].unique()

array(['THEFT', 'NARCOTICS', 'ROBBERY', 'CRIMINAL TRESPASS'], dtype=object)

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [22]:
list(census_df)

['community_area_number',
 'community_area_name',
 'percent_of_housing_crowded',
 'percent_households_below_poverty',
 'percent_aged_16__unemployed',
 'percent_aged_25__without_high_school_diploma',
 'percent_aged_under_18_or_over_64',
 'per_capita_income',
 'hardship_index']

In [24]:
%sql select community_area_name from CENSUS_DATA where community_area_name like 'B%'

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [30]:
list(schools_df)

['School_ID',
 'name_of_school',
 'Elementary, Middle, or High School',
 'Street_Address',
 'City',
 'State',
 'ZIP_Code',
 'Phone_Number',
 'Link',
 'Network_Manager',
 'Collaborative_Name',
 'Adequate_Yearly_Progress_Made_',
 'Track_Schedule',
 'CPS_Performance_Policy_Status',
 'CPS_Performance_Policy_Level',
 'healthy_school_certified',
 'Safety_Icon',
 'safety_score',
 'Family_Involvement_Icon',
 'Family_Involvement_Score',
 'Environment_Icon',
 'Environment_Score',
 'Instruction_Icon',
 'Instruction_Score',
 'Leaders_Icon',
 'Leaders_Score',
 'Teachers_Icon',
 'Teachers_Score',
 'Parent_Engagement_Icon',
 'Parent_Engagement_Score',
 'Parent_Environment_Icon',
 'Parent_Environment_Score',
 'average_student_attendance',
 'Rate_of_Misconducts__per_100_students_',
 'Average_Teacher_Attendance',
 'Individualized_Education_Program_Compliance_Rate',
 'Pk_2_Literacy__',
 'Pk_2_Math__',
 'Gr3_5_Grade_Level_Math__',
 'Gr3_5_Grade_Level_Read__',
 'Gr3_5_Keep_Pace_Read__',
 'Gr3_5_Keep_Pace_Math__',
 'Gr6_8_Grade_Level_Math__',
 'Gr6_8_Grade_Level_Read__',
 'Gr6_8_Keep_Pace_Math_',
 'Gr6_8_Keep_Pace_Read__',
 'Gr_8_Explore_Math__',
 'Gr_8_Explore_Read__',
 'ISAT_Exceeding_Math__',
 'ISAT_Exceeding_Reading__',
 'ISAT_Value_Add_Math',
 'ISAT_Value_Add_Read',
 'ISAT_Value_Add_Color_Math',
 'ISAT_Value_Add_Color_Read',
 'Students_Taking__Algebra__',
 'Students_Passing__Algebra__',
 '9th Grade EXPLORE (2009)',
 '9th Grade EXPLORE (2010)',
 '10th Grade PLAN (2009)',
 '10th Grade PLAN (2010)',
 'Net_Change_EXPLORE_and_PLAN',
 '11th Grade Average ACT (2011)',
 'Net_Change_PLAN_and_ACT',
 'College_Eligibility__',
 'Graduation_Rate__',
 'College_Enrollment_Rate__',
 'college_enrollment',
 'General_Services_Route',
 'Freshman_on_Track_Rate__',
 'x_coordinate',
 'y_coordinate',
 'Latitude',
 'Longitude',
 'community_area_number',
 'community_area_name',
 'Ward',
 'Police_District',
 'Location']

In [42]:
%sql select name_of_school from CHICAGO_PUBLIC_SCHOOLS where community_area_number between 10 and 15 AND healthy_school_certified = 'Yes'

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

In [41]:
schools_df[(schools_df['community_area_number']>=10) & (schools_df['community_area_number']<= 15)\
          &(schools_df['healthy_school_certified']=='Yes')][['name_of_school','community_area_number']]

                      name_of_school  community_area_number
471  Rufus M Hitch Elementary School                     10

### Problem 7

##### What is the average school Safety Score?

In [43]:
%sql select AVG(safety_score) as avg_sscore from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [44]:
schools_df['safety_score'].mean()

49.50487329434698

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [66]:
%sql select community_area_name, AVG(college_enrollment) from CHICAGO_PUBLIC_SCHOOLS group by community_area_name order by AVG(college_enrollment) desc limit 5

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

In [53]:
schools_df.sort_values('college_enrollment',ascending=False)[['college_enrollment','community_area_name']][:5]

     college_enrollment community_area_name
6                  4368        NORTH CENTER
357                3320      ARCHER HEIGHTS
545                2922        NORWOOD PARK
508                2883       BRIGHTON PARK
60                 2366         IRVING PARK

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [46]:
%sql select community_area_name from CHICAGO_PUBLIC_SCHOOLS where safety_score = (select MIN(safety_score) from chicago_public_schools)

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

In [61]:
schools_df.sort_values('safety_score')[['community_area_name','safety_score','community_area_number']][:1]

    community_area_name  safety_score  community_area_number
121     WASHINGTON PARK           1.0                     40

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [57]:
%%sql 
select per_capita_income 
from CENSUS_DATA C, CHICAGO_PUBLIC_SCHOOLS S 
where C.community_area_number = S.community_area_number 
and
safety_score = 1

 * ibm_db_sa://ghn29546:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(13785,)]

In [62]:
census_df[census_df['community_area_number']==40]['per_capita_income']

39    13785
Name: per_capita_income, dtype: int64

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).